@inherits LayoutComponentBase
<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Dark"
             ThemeContrast="ThemeContrast.Dark">
            <BarBrand>
                <BarItem>
                    <BarLink To=".">
                        <BarIcon IconName="IconName.Dashboard" />
                        Programming 2022
                    </BarLink>
                </BarItem>
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink To=".">Home</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>L0</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="binary">Reading Binary</BarDropdownItem>
                                <BarDropdownDivider />
                                <BarDropdownItem>Data Types</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>CSharp</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem>Input/Output</BarDropdownItem>
                                <BarDropdownDivider />
                                <BarDropdownItem>OwO What's This</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                </BarStart>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        <Container Fluid="true" Breakpoint="Breakpoint.Desktop">
            @Body
        </Container>
    </LayoutContent>
    <LayoutFooter>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light">
            <BarBrand />
            <BarMenu>
                <BarStart>
                    <BarItem>
                    <BarIcon IconName="IconName.Heart" />
                        Made By FeroxFoxxo for AGSPG
                    </BarItem>
                </BarStart>
                <BarEnd>
                    <BarItem>
                        Find the project on GitHub here:
                        <a href="https://github.com/FeroxFoxxo/CSharpCourse/">
                            <BarIcon IconName="IconName.Gift" TextColor="TextColor.Primary"/>
                        </a>
                    </BarItem>
                </BarEnd>
                <BarBrand />
            </BarMenu>
        </Bar>
    </LayoutFooter>
</Layout>