@page "/"
<Jumbotron Background="Background.Light">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">Haiya, coders!</JumbotronTitle>
    <JumbotronSubtitle>
        Welcome to your tutoring website. Here, you will be able to explore through each lesson, and what we have planned!
    </JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        If you have any questions, please feel free to give a yelp! We're always free to help.
        Otherwise, enjoy the ride!
        <br />
        You will always be able to come back and access this website if you don't make a lesson,
        though please do try make it.
    </Paragraph>
        
    <br />

    <CardDeck>
        <Card>
            <CardImage Source="img/2.png"></CardImage>
            <CardBody>
                <CardTitle Size="5">Lesson 1: Introduction to C#</CardTitle>
                <CardText>
                    Functions, IO, and more!
                </CardText>
                <br />
                <Button Color="Color.Primary">Start Course</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="img/1.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">Lesson 0: Computer Science Basics</CardTitle>
                <CardText>
                    This is an introduction to the basic computer science concepts we've learnt in class! Binary, data representation, etc.
                </CardText>
                <br />
                <Button Color="Color.Primary" Type="ButtonType.Link" To="binary">Start Course</Button>
            </CardBody>
        </Card>
    </CardDeck>
</Jumbotron>

<Divider DividerType="DividerType.TextContent" Text="If you see this, good luck! Happy coding <3"/>

<br />