<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageAlert />
    <PageProgressAlert />
</Blazorise.ThemeProvider>
@code{
    private Theme theme = new()
    {
        BarOptions = new()
        {
            HorizontalHeight = "72px"
        },
        BreakpointOptions = new()
        {
        },
        ColorOptions = new()
        {
            Primary = "#0288D1",
        },
        BackgroundOptions = new()
        {
            Primary = "#0288D1",
        },
        TextColorOptions = new()
        {
        },
        InputOptions = new()
        {
            CheckColor = "#0288D1",
        },
    };
}